# Copyright 2026
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# Seyyid Hikmet Celik <seyyid4091@gmail.com>

adapter driver ftdi     
adapter speed 3000
transport select jtag

# FT2232HQ Adapter
ftdi vid_pid 0x0403 0x6014
ftdi_serial "210308A1221C"

ftdi tdo_sample_edge falling

ftdi channel 0
ftdi layout_init 0x00e8 0x60eb

reset_config none

echo "ftdi setting..."

set _CHIPNAME riscv

jtag newtap $_CHIPNAME cpu -irlen 6 -expected-id 0x23842093

#jtag newtap $_CHIPNAME cpu -irlen 6 -expected-id 0x23731093

#jtag newtap zynq_ps tap -irlen 4 -expected-id 0x4ba00477

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0x000

echo "target created..."

#log_output openocd_fpga.log

riscv set_ir idcode 0x09
riscv set_ir dtmcs 0x22
riscv set_ir dmi 0x23

#riscv set_reset_timeout_sec 2000
riscv set_command_timeout_sec 2000

echo "setting preferences..."

#scan_chain

init

riscv set_maskisr off

echo "init routine started"

halt

echo "Ready for Remote Connections"
